---
import Scoring from "../../components/Scoring";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Scoring View">
  <div class="flex w-screen h-screen bg-blue-200 justify-center items-center">
    <Scoring client:visible />
  </div>
</Layout>
