---
import Scoring from "../../components/Scoring";
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header";
---

<Layout title="Scoring View">
  
  <Header headerName={"Scoring"} />
  <div class="flex w-screen h-screen justify-center items-center">
    <Scoring client:visible />
  </div>
</Layout>
